{% load static %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Recent Notes</h2>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="portfolio row">
                            {% for rs in recent_notes %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pitem item-w1 item-h1">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">
                                                <img src="{{ rs.image.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <span class="bg-grey"><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}" title="">{{ rs.category.title }}</a></span>
                                            <h4><a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">{{ rs.title }}</a></h4>
                                            <small><a href="blog-author.html" title="">By: {{ rs.user }}</a></small>
                                            <small><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}" title="">{{ rs.created_at.date }}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                            {% endfor %}
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Random Notes</h2>
                <hr>
                <div class="row">
                    {% for rs in random_notes %}
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">
                                        <img src="{{ rs.image.url }}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">{{ rs.title }}</a></h4>
                                    <small><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}" title="">{{ rs.category.title }}</a></small>
                                    <small><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}" title="">{{ rs.created_at.date }}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                            {% if forloop.counter|divisibleby:2 %}{% else %}<hr class="invis">{% endif %}
                        </div><!-- end col -->
                    {% endfor %}
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">
    </div><!-- end container -->
</section>