{% extends 'homebase.html' %}

{% block title %} {{ categorydata.title }} Notes - {{ setting.company }} {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon" />
{% endblock %}

{% block body %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2><i class="fa fa-list-alt"></i> {{ categorydata.title }} Notes</h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">{{ categorydata.title }} Notes</li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-list clearfix">
                            {% for rs in contents %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">
                                                <img src="{{ rs.image.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">{{ rs.title }}</a></h4>
                                        <p>{{ rs.description }}</p>
                                        <small><a href="/note/{{ rs.id }}/{{ rs.slug }}" title="">{{ rs.created_at.date }}</a></small>
                                        <small><a href="blog-author.html" title="">by Matilda</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            {% endfor %}
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
                {% include 'sidebar.html' %}
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endblock %}