<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">User Menu</h2>
            <div class="link-widget">
                <ul>
                    <li><a onMouseOver="this.style.marginLeft='5px'; this.style.transition='200ms'" onMouseOut="this.style.marginLeft='0px'; this.style.transition='200ms';" href="/user"><i class="fa fa-user-o"></i> My Profile</a></li>
                    <li><a onMouseOver="this.style.marginLeft='5px'; this.style.transition='200ms'" onMouseOut="this.style.marginLeft='0px'; this.style.transition='200ms';"  href="#"><i class="fa fa-star-half-o"></i> My Favorites</a></li>
                    <li><a onMouseOver="this.style.marginLeft='5px'; this.style.transition='200ms'" onMouseOut="this.style.marginLeft='0px'; this.style.transition='200ms';"  href="#"><i class="fa fa-sticky-note-o"></i> My Notes</a></li>
                    <li><a onMouseOver="this.style.marginLeft='5px'; this.style.transition='200ms'" onMouseOut="this.style.marginLeft='0px'; this.style.transition='200ms';"  href="#"><i class="fa fa-comment-o"></i> My Comments</a></li>
                    <li><a onMouseOver="this.style.marginLeft='5px'; this.style.transition='200ms'" onMouseOut="this.style.marginLeft='0px'; this.style.transition='200ms';"  href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div><!-- end link-widget -->
        </div><!-- end widget -->

    </div><!-- end sidebar -->
</div><!-- end col -->