{% extends 'homebase.html' %}

{% block title %} {{ profile.user.username }} - User Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon" />
{% endblock %}

{% block body %}
    {% load static %}
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}'s Profile</h2>
                </div><!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/user">User</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About {{ profile.user.username }}</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <img src="{{ profile.user.userprofile.image.url }}" alt="" height="400px" width="auto" class="img-fluid rounded-circle">
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                                                {{ message|safe }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <h4><a href="#">{{ profile.user.first_name }} {{ profile.user.last_name }}</a></h4>
                                    <table class="table table-striped table-bordered">
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-envelope-open"></i>&nbsp;&nbsp;Email
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.user.email }}
                                            </td>
                                        </tr>
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-phone"></i>&nbsp;&nbsp;Phone
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.phone }}
                                            </td>
                                        </tr>
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;Address
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.address }}
                                            </td>
                                        </tr>
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-building"></i>&nbsp;&nbsp;City
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.city }}
                                            </td>
                                        </tr>
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-globe"></i>&nbsp;&nbsp;Country
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.country }}
                                            </td>
                                        </tr>
                                        <tr class="table-bordered">
                                            <th class="table-bordered">
                                                <i class="fa fa-university"></i>&nbsp;&nbsp;School
                                            </th>
                                            <td class="table-bordered">
                                                {{ profile.school }}
                                            </td>
                                        </tr>
                                    </table>
                                    <hr class="invis">
                                    <div class="row">
                                        <div class="col col-lg-4 col-md-12 col-sm-12">
                                            <div class="topsocial">
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                            </div><!-- end social -->
                                        </div><!-- end col -->
                                        <div class="col col-lg-8 col-md-12 col-sm-12 text-right">
                                            <a class="btn btn-info" href="/user/update"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Update Profile</a>
                                            <a class="btn btn-info" href="/user/password"><i class="fa fa-key"></i>&nbsp;&nbsp;Change Password</a>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
                {% include 'user_profile_sidebar.html' %}
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endblock %}